.content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1600px;
    height: 4975px;
    border: 1px solid black;
    margin: auto;
    background: #FFFFFF;
}

.section1 {
    width: 100%;
    height: 780px;
    background-image: url(../../assets/images/panda-bg.jpg);
}

header {
    position: relative;
    display: flex;
    align-items: center;
    gap: calc(63 / 1160 * 100%);
    width: 100%;
    height: 80px;
    padding: 0 calc(50% - 580px);
    background: #000000;
    backdrop-filter: blur(2px);
}

.logo-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 82px;
    height: 52px;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
}

h1 {
    z-index: 2;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    /* border: 1.18841px solid #FFFFFF; */
}

.bamboo {
    z-index: 1;
    position: absolute;
    width: 11.03px;
    height: 20.98px;
    left: 10.03px;
    bottom: 6.49px;
    background-image: url(../../assets/icons/bamboo.svg);
    background-position: left;
    background-size: 100% 100%;
    /* background: #FFFFFF; */
    /* border: 1.18841px solid #FFFFFF; */
}

.header-link {
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 3;
    cursor: pointer;
}

nav {
    width: calc(472 / 1160 * 100%);  /*472px*/
}

.nav-list, .nav-item {
    margin:0;
    padding: 0;
    text-indent: 0;
}
.nav-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav-item {
    list-style-type: none;
}

.nav-link, .designed-by {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
}

.nav-link-active {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.designed-by {
    display: block;
    margin-left: auto;
}

.nav-link:active, .designed-by:active {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}