.buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 350px;
  height: 150px;

  .forms-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;

    .form_create, .form_update {
      display: flex;
      justify-content: space-between;

      .form__text-input {
        width: 50%;
      }
    }
  }
}