.header {
  width: 100%;
  height: 100px;
}

.header__wrapper {
  display: flex;
}

.emblem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 300px;
}
.emblem .emblem__header {
  font-size: 5rem;
  font-weight: 500;
  font-style: italic;
  width: 100%;
  background: -webkit-linear-gradient(45deg, #56ab2f, #676767);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navigation {
  width: 65%;
  height: 100px;
  font-size: 3rem;
  font-weight: 500;
}
.navigation .navigation__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
.navigation .navigation__list .navigation__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 60px;
}
.navigation .navigation__list .navigation__item .navigation__link {
  display: block;
  color: #56ab2f;
  text-align: center;
  width: 100%;
  height: 100%;
  cursor: default;
}
.navigation .navigation__list .navigation__item:hover :not(.navigation__link_active) {
  text-decoration: underline;
  cursor: pointer;
}
.navigation .navigation__list .navigation__item .navigation__link_active {
  color: #101f24;
}

.change-language {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 180px;
  height: 90px;
  align-self: center;
}
.change-language .change-language__text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  font-weight: 300;
  color: #006400;
}
.change-language .change-language__button {
  display: block;
  border: none;
  cursor: pointer;
  width: 85px;
  height: 60px;
  background-color: transparent;
}
.change-language .change-language__button .change-language__img {
  width: 100%;
  height: 100%;
  background-size: cover;
}
.change-language .change-language__button_active .change-language__img {
  border: 4px solid #006400;
  cursor: default;
}

.footer {
  width: 100%;
  height: 70px;
}
.footer .footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer__link {
  display: block;
  width: 200px;
  height: 50px;
}
.footer .footer__img {
  width: 50%;
  height: 100%;
}
.footer .year {
  font-size: 3rem;
  font-weight: 500;
}

.scoreboard {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
}
.scoreboard .scoreboard__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 88%;
  height: 100%;
  background-color: #006400;
  border-radius: 10px;
}
.scoreboard .scoreboard__list .scoreboard__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16.6666666667%;
  height: 100%;
  border-radius: 10px;
  color: #56ab2f;
  font-size: 3rem;
  font-weight: 500;
}
.scoreboard .scoreboard__list .scoreboard__item_active {
  background-color: #101f24;
}
.scoreboard .score-table {
  margin-left: 10px;
  color: #101f24;
  font-size: 3rem;
  font-weight: 500;
}

.container {
  background: linear-gradient(90deg, #76daff, #fcd000);
}

.main {
  width: 100%;
  height: 700px;
}

.main__wrapper {
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=game.css.map */
