.header {
  width: 100%;
  height: 100px;
}

.header__wrapper {
  display: flex;
}

.emblem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 300px;
}
.emblem .emblem__header {
  font-size: 5rem;
  font-weight: 500;
  font-style: italic;
  width: 100%;
  background: -webkit-linear-gradient(45deg, #56ab2f, #676767);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navigation {
  width: 65%;
  height: 100px;
  font-size: 3rem;
  font-weight: 500;
}
.navigation .navigation__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
.navigation .navigation__list .navigation__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 60px;
}
.navigation .navigation__list .navigation__item .navigation__link {
  display: block;
  color: #56ab2f;
  text-align: center;
  width: 100%;
  height: 100%;
  cursor: default;
}
.navigation .navigation__list .navigation__item:hover :not(.navigation__link_active) {
  text-decoration: underline;
  cursor: pointer;
}
.navigation .navigation__list .navigation__item .navigation__link_active {
  color: #101f24;
}

.change-language {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 180px;
  height: 90px;
  align-self: center;
}
.change-language .change-language__text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  font-weight: 300;
  color: #006400;
}
.change-language .change-language__button {
  display: block;
  border: none;
  cursor: pointer;
  width: 85px;
  height: 60px;
  background-color: transparent;
}
.change-language .change-language__button .change-language__img {
  width: 100%;
  height: 100%;
  background-size: cover;
}
.change-language .change-language__button_active .change-language__img {
  border: 4px solid #006400;
  cursor: default;
}

.footer {
  width: 100%;
  height: 70px;
}
.footer .footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer__link {
  display: block;
  width: 200px;
  height: 50px;
}
.footer .footer__img {
  width: 50%;
  height: 100%;
}
.footer .year {
  font-size: 3rem;
  font-weight: 500;
}

.scoreboard {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
}
.scoreboard .scoreboard__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 88%;
  height: 100%;
  background-color: #006400;
  border-radius: 10px;
}
.scoreboard .scoreboard__list .scoreboard__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16.6666666667%;
  height: 100%;
  border-radius: 10px;
  color: #56ab2f;
  font-size: 3rem;
  font-weight: 500;
}
.scoreboard .scoreboard__list .scoreboard__item_active {
  background-color: #101f24;
}
.scoreboard .score-table {
  margin-left: 10px;
  color: #101f24;
  font-size: 3rem;
  font-weight: 500;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 175px;
  padding: 0 40px 0 10px;
  background-color: #101f24;
  border-radius: 10px;
}

.question__img {
  width: 200px;
  height: 155px;
  border-radius: 20px;
}

.answer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  height: 88.5%;
}
.answer .answer__header {
  font-size: 3rem;
  font-weight: 500;
  color: #56ab2f;
  width: 100%;
  height: 38.7096774194%;
  border-bottom: 2px solid #56ab2f;
}

.player {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 54.8387096774%;
}
.player .player__play-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  border: 4px solid #56ab2f;
  cursor: pointer;
}
.player .player__play-button .player__play-button_play {
  display: block;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid #56ab2f;
  margin-left: 5px;
}
.player .player__play-button .player__play-button_pause {
  display: block;
  width: 10px;
  height: 20px;
  border-color: #56ab2f;
  border-style: double;
  border-width: 0px 0px 0px 20px;
}
.player .player__play-button:hover {
  transform: rotate(360deg);
  transform: scale(1.11);
}
.player .player__progress-bar {
  position: relative;
  width: 93%;
  height: 10px;
  background-color: #56ab2f;
}
.player .player__progress-bar .todler {
  position: absolute;
  top: 50%;
  transform: translate(-5px, -50%);
  display: block;
  background-color: #006400;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.player .player__time-played, .player .player__full-time {
  position: absolute;
  font-size: 2rem;
  font-weight: 300;
  color: #56ab2f;
  bottom: 0;
}
.player .player__time-played {
  left: 60px;
}
.player .player__full-time {
  right: 0;
}

.answer-options {
  width: 48%;
  height: 350px;
  border: 4px solid #56ab2f;
  background-color: #56ab2f;
}
.answer-options .answer-options__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.answer-options .answer-options__list .answer-options__item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 53.66px;
  font-size: 3rem;
  font-weight: 500;
  color: #808080;
  background-color: #101f24;
}
.answer-options .answer-options__list .list-marker {
  display: block;
  width: 10px;
  height: 10px;
  background-color: #808080;
  border-radius: 50%;
  margin: 0 10px;
}
.answer-options .answer-options__list .answer-options__item_true {
  color: #56ab2f;
}
.answer-options .answer-options__list .answer-options__item_true .list-marker {
  background-color: #56ab2f;
}
.answer-options .answer-options__list .answer-options__item_false {
  color: #ff0000;
}
.answer-options .answer-options__list .answer-options__item_false .list-marker {
  background-color: #ff0000;
}

.description {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 48%;
  height: 350px;
  padding: 20px 40px 10px 10px;
  background-color: #101f24;
  border: 1px solid black;
}
.description .answer {
  width: 60%;
  height: 155px;
}
.description .answer .answer__subheader {
  font-size: 2rem;
  font-weight: 300;
  color: #56ab2f;
}
.description .answer .player__progress-bar {
  width: 80%;
}
.description .bird-description {
  width: 100%;
  font-size: 2rem;
  font-weight: 300;
  color: #56ab2f;
  text-align: justify;
}
.description .description__cover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  padding: 20px;
  background-color: #101f24;
  font-size: 3rem;
  font-weight: 500;
  color: #56ab2f;
}
.description .description__cover_active {
  display: block;
}

.container {
  background: linear-gradient(90deg, #76daff, #fcd000);
}

.main {
  width: 100%;
  height: 700px;
}

.main__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}

.next-level-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 20px;
  font-size: 3rem;
  font-weight: 500;
  background-color: transparent;
  border: 4px solid #56ab2f;
}

.next-level-button_active {
  color: #56ab2f;
  background-color: #101f24;
  cursor: pointer;
}

.next-level-button_active:hover {
  transform: rotate(360deg);
  transform: scale(1.01);
}

/*# sourceMappingURL=game.css.map */
