.sources {
    display: flex;
    flex-wrap: wrap;
    height: max-content;
    width: 100%;
    justify-content: space-between;
    font: 300 1em 'Fira Sans', sans-serif;
}

.sources_hidden {
    display: none;
}

.source__item {
    background: none;
    border: 2px solid #30c5ff;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 1em;
    color: #70d6ff;
    transition: 0.25s;
    cursor: pointer;
    flex-basis: 10%;
}

.source__item:hover,
.source__item:focus {
    border-color: #3fcc59;
    color: #69db7e;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
    transform: translateY(-0.25em);
}

.source__item-name {
    font-weight: 400;
    white-space: nowrap;
}

@media screen and (max-width: 1200px) {
    .source__item {
        flex-basis: 15%;
    }
}

@media screen and (max-width: 900px) {
    .source__item {
        flex-basis: 25%;
    }
}

@media screen and (max-width: 750px) {
    .source__item {
        flex-basis: 35%;
    }
}

@media screen and (max-width: 500px) {
    .sources {
        justify-content: flex-start;
    }
    .source__item {
        flex-basis: 20%;
    }
}