@import 'font';
@import 'header';
@import 'footer';
@import 'question';
@import 'description';

.container {
  background: linear-gradient(90deg, #76daff, #fcd000);
}

.main__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.all-birds {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 51%;
  height: 700px;

  .all-birds__header {
    @include huge-font;
    color: $dark-blue-color;
    margin-bottom: 10px;
  }

  .all-birds__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 700px;

    .all-birds__item {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 24%;
      height: 50px;
      border-radius: 15px;
      background-color: $green-color;
      color: $dark-blue-color;
      @include lite-medium-font;
      line-height: 2rem;
      cursor: pointer;
    }

    .all-birds__item:hover {
      transform: rotate(360deg);
      transform: scale(1.05);
    }
  }
}

@media screen and (max-width: 1220px) {
  
  .main {
    height: 880px;
  }

  .main__wrapper {
    flex-direction: column;
  }

  .all-birds {
    width: 100%;
    height: 550px;
  }

  .all-birds .all-birds__list .all-birds__item {
    height: 45px;
  }

  .description {
    width: 100%;
    height: 300px;

    .answer {
      width: 70%;

      .player__progress-bar {
        width: 88%;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  
  .description .answer {
    width: 60%;
  }

  .description .answer .player__progress-bar {
    width: 80%;
  }
}

@media screen and (max-width: 620px) {
  
  .all-birds {
    height: 600px;
  }

  .description {
    height: 250px;
  }
}

@media screen and (max-width: 450px) {
  
  .main {
    height: 700px;
  }

  .all-birds {
    height: 500px;
  }

  .description {
    height: 200px;
  }
}