@import 'header';
@import 'font';
@import 'footer';
@import 'scoreboard';
@import 'question';
@import 'answer-options';
@import 'description';

.container {
  background: linear-gradient(90deg, #76daff, #fcd000);
}

.main {
  width: 100%;
  height: 700px;
}

.main__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}

.next-level-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 20px;
  @include medium-font;
  background-color: transparent;
  border: 4px solid $green-color;
}

.next-level-button_active {
  color: $green-color;
  background-color: $dark-blue-color;
  cursor: pointer;
}

.next-level-button_active:hover {
  transform: rotate(360deg);
  transform: scale(1.01);
}

// 45 section1
// 30
// 175 section2
// 30
// 350 section3-section4
// 30
// 40 button