@import 'font';

.header {
  width: 100%;
  height: 100px;
}

.header__wrapper {
  display: flex;
}

.emblem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 300px;
  flex-shrink: 0;

  .emblem__header {
    @include huge-font;
    font-style: italic;
    width: 100%;
    @include font-color;
  }
}

.navigation {
  width: 65%;
  height: 100px;
  @include medium-font;

  .navigation__list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
  
  .navigation__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 60px;

    .navigation__link {
      display: block;
      color: $green-color;
      text-align: center;
      width: 100%;
      height: 100%;
      cursor: default;
    }

    &:hover :not(.navigation__link_active) {
      text-decoration: underline;
      cursor: pointer;
    }

    .navigation__link_active {
      color: $dark-blue-color;
    }

    // &:hover .navigation__link_active {
    //   text-decoration: none;
    //   color: $dark-blue-color;
    //   cursor: default;
    // }
  }
  }
}

.change-language {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 180px;
  height: 90px;
  align-self: center;
  // background-color: white;

  .change-language__text {
    position: absolute;
    bottom: 0;
    left: 50%; 
    transform: translateX(-50%);
    @include lite-font;
    color: $dark-green-color;
  }

  .change-language__button {
    display: block;
    border: none;
    cursor: pointer;
    width: 85px;
    height: 60px;
    background-color: transparent;

    .change-language__img {
      width: 100%;
      height: 100%;
      background-size: cover;
    }
  }

  .change-language__button_active .change-language__img{
    border: 4px solid $dark-green-color;
    cursor: default;
  }
}

@media screen and (max-width: 1220px) {
  .emblem {
    width: 220px;
  }
}

@media screen and (max-width: 900px) {
  
  .header__wrapper {
    justify-content: space-between;
  }

  .emblem {
    width: 150px;
    height: 80px;
  }

  .change-language {
    width: 100px;
    height: 50px;

    .change-language__button {
      width: 45px;
      height: 30px;
    }
  }

  .navigation {

    width: 50%;
    
    .navigation__list {
      justify-content: space-between;

      .navigation__item {

        width: 30%;
      }
    }
  }
}

@media screen and (max-width: 620px) {

  .header {
    height: 60px;
  }

  .emblem {
    width: 130px;
    height: 50px;
  }

  .navigation {
    height: 100%;
  }

  .navigation .navigation__list .navigation__item {
    height: 30px;
  }

  .change-language {
    width: 80px;
    height: 40px;

    .change-language__button {
      width: 38px;
      height: 25px;
    }
  }
}

@media screen and (max-width: 450px) {
  
  .emblem {
    width: 100px;
  }

  .change-language {
    width: 70px;
    height: 35px;

    .change-language__button {
      width: 35px;
      height: 25px;
    }
  }
}