@import 'header';
@import 'font';
@import 'footer';

.container {
  background: url(../assets/img/main-page-background.jpg) 600px 150px / 800px 600px no-repeat, linear-gradient(90deg, #76daff, #fcd000);
}

.main {
  width: 100%;

  .main__wrapper {
    display: flex;
    flex-direction: column;


    .main__header {
      margin-top: 40px;
      margin-bottom: 10px;
      @include very-huge-font;
      color: $dark-blue-color;
    }

    .main__subheader {
      @include huge-font;
      color: $dark-green-color;
      margin-bottom: 20px;
      height: 120px;
    }

    .main__paragraph {
      @include lite-font;
      color: $green-color;
      margin-bottom: 80px;
      height: 180px;
    }

    .start-game-button {
      display: block;
      border: none;
      cursor: pointer;
      text-transform: uppercase;
      background-color: $dark-blue-color;
      width: 400px;
      height: 50px;
      border-radius: 50px;
      margin-left: 5%;
      @include medium-font;
      color: $green-color;
    }

    .start-game-button:hover {
      transform: rotate(360deg);
      transform: scale(1.01);
    }
  }

  .main__wrapper > * {
    width: 37%;
  }
}

@media screen and (max-width: 1520px) {

  .container {
    background: url(../assets/img/main-page-background.jpg) 550px 150px / 600px 450px no-repeat, linear-gradient(90deg, #76daff, #fcd000);
  }

  .main {

    .main__wrapper > * {
      width: 45%;
    }
  }
}

@media screen and (max-width: 1220px) {

  .container {
    background: url(../assets/img/main-page-background.jpg) 450px 150px / 400px 350px no-repeat, linear-gradient(90deg, #76daff, #fcd000);
  }

  .main {

    .main__wrapper {

      .main__subheader {
        height: 153px;
      }

      .main__paragraph {
        margin-top: 50px;
        width: 100%;
        @include medium-font;
        height: 191.25px;
      }

      form {
        width: 100%;
      }
      .start-game-button {
        width: 100%;
        margin: 0;
      }
    }
  }
}

@media screen and (max-width: 900px) {

  .container {
    background: url(../assets/img/main-page-background.jpg) center 300px / 400px 350px no-repeat, linear-gradient(90deg, #76daff, #fcd000);
  }

  .main {

    .main__wrapper > * {
      width: 100%;
    }
  }

  .main .main__wrapper .main__subheader {
    height: 84px;
  }

  .main__header, .main__subheader {
    text-align: center;
  }

  .main .main__wrapper .main__paragraph {
    margin-top: 400px;
    height: 189px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 620px) {
  
  .container {
    background: url(../assets/img/main-page-background.jpg) center 250px / 400px 350px no-repeat, linear-gradient(90deg, #76daff, #fcd000);
  }

  .main .main__wrapper .main__subheader {
    height: 72px;
  }
}

@media screen and (max-width: 450px) {
  
  .container {
    background: url(../assets/img/main-page-background.jpg) center 230px / 300px 250px no-repeat, linear-gradient(90deg, #76daff, #fcd000);
  }

  .main .main__wrapper .main__paragraph {
    margin-top: 300px;
    margin-bottom: 50px;
    height: 162px;
  }
}




