@import 'font';

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 175px;
  padding: 0 40px 0 10px;
  background-color: $dark-blue-color;
  border-radius: 10px;

}

.question__img {
  width: 200px;
  height: 155px;
  border-radius: 20px;
}

.answer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  height: 88.5%;

  .answer__header {
    @include medium-font;
    color: $green-color;
    width: 100%;
    height: calc(60 / 155 * 100%);
    border-bottom: 2px solid $green-color;
  }
}

.player {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: calc(85 / 155 * 100%);

 .player__play-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  border: 4px solid $green-color;
  cursor: pointer;

  .player__play-button_play {
    display: block;
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 25px solid $green-color;
    margin-left: 5px;
  }

  .player__play-button_pause {
    display: block;
    width: 10px;
    height: 20px;
    border-color: $green-color;
    border-style: double;
    border-width: 0px 0px 0px 20px;
  }

  &:hover {
    transform: rotate(360deg);
    transform: scale(1.11);
  }
 } 

 .player__progress-bar {
  position: relative;
  width: 93%;
  height: 10px;
  background-color: $green-color;
 
  .todler {
    position: absolute;
    top: 50%;
    transform: translate(-5px, -50%);
    display: block;
    background-color: $dark-green-color;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
 }

 .player__time-played, .player__full-time {
  position: absolute;
  @include lite-font;
  color: $green-color;
  bottom: 0;
 }

 .player__time-played {
  left: 60px;
 }

 .player__full-time {
  right: 0;
 }
}